<% if @posts.any? %>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <small><%= post.date.strftime("%d-%m-%y") %></small>
        <%= link_to post.title, post_path(post) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Todavía no hay ningún post en el blog.</p>
<% end %>